# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# files in ipynb 

.ipynb_checkpoints

MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/source/config.rst
docs/gh-pages
notebook/i18n/*/LC_MESSAGES/*.mo
notebook/i18n/*/LC_MESSAGES/nbjs.json
notebook/static/components
notebook/static/style/*.min.css*
notebook/static/*/js/built/
notebook/static/*/built/
notebook/static/built/
notebook/static/*/js/main.min.js*
notebook/static/lab/*bundle.js
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.pytest_cache
src

*.swp
*.map
.idea/
Read the Docs
config.rst
*.iml
/.project
/.pydevproject

package-lock.json
geckodriver.log
*.iml

# jetbrains IDE stuff
*.iml
.idea
.idea/
.idea/*
.idea/**/
.idea/*/*

# ms IDE stuff
*.code-workspace
.history
.vscode

# copied changelog
docs/source/changelog.md


# extra files to ignore
.idea/workspace.xml
.idea
.ipynb

.git
.svn
.hg
.DS_Store

tips python 
04_D3_peer_review
D4_review

M1/D3/D3_review
01_D3_workbooks
03_D3_notes
M1/D4/d4_Strings_and_files/.ipynb_checkpoints/Intro to Python - part 7-checkpoint.ipynb
M1/D3/.ipynb_checkpoints
D4_backup_exercises
.ipynb_checkpoints
M1/.DS_Store
folder_exercises
M1/D0_tips_python
.idea/AISpring21.iml
.idea/modules.xml
.idea/vcs.xml

M1/D5/D5_git_exercises
.idea/workspace.xml
*.xml
M1/D6/d6_Numpy/100_Numpy_exercises_with_hint.ipynb
M1/D6/d6_Numpy/Code_Intro to numpy.ipynb
M1/D6/d6_Numpy/Code_Intro to numpy.ipynb
/M3
/M4
/M5
/M6
/M7
/M8
/AISpring21